body {
    font-family: Arial, sans-serif;
    background-color: #7e7a7a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

/* Columna izquierda */
.form-section {
    background-color: #4b0076;
    padding: 30px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.form-box {
    width: 100%;
    margin-top: 20px;
}

.form-box label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.form-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.form-box select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: white;
    color: #4b0076;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ddd;
}

/* Botón de Facebook */
.facebook-btn {
    background-color: #1877f2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-btn img {
  width: 24px;
  margin-right: 10px;
}

.facebook-btn:hover {
    background-color: #145dbf;
}

/* Columna derecha: imagen */
.image-section {
    width: 400px;
    height: auto;
   background-image: url("../img/gimnasio.png");
    background-size: cover;
    background-position: center;
}