.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f;
  padding: 15px 40px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffb703;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffb703;
}
